<footer class="footer">
  <div class="footer-socials">
    <a href="https://x.com/bejobconscious" target="_blank" aria-label="X">X</a>
    <a href="https://www.facebook.com/JobConscious-318180132150113/" target="_blank" aria-label="Facebook">Facebook</a>
    <a href="https://www.instagram.com/jobconscious/?hl=en" target="_blank" aria-label="Instagram">Instagram</a>
    <a href="https://www.youtube.com/channel/UCWnDN5pJiEqKfb8CALXirWA" target="_blank" aria-label="YouTube">YouTube</a>
  </div>
  <div class="footer-copy">&copy; 2019 - {{ "now" | date: "%Y" }} JobConscious. All rights reserved.</div>
</footer>