<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="JobConscious helps you navigate your career journey with real stories, expert insights, and resources to empower your next step. Discover your path today!">
        <title>{{ title }}</title>
        <link rel="icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/assets/css/fonts.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
      {% include "nav.html" %}
      <main>
        {{ content }}
      </main>
      <footer>
        {% include "footer.html" %}
      </footer>
      <script src="/assets/js/script.js"></script>
      <script src="/assets/js/scrollFadeEffect.js"></script>
    </body>
</html>
